{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Bienvenidos | {{block.super}}{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  

	<div class='row'>
		<div class='col-sm-6'>
	    <h1>Probar Django 1.13</h1>
	        <p>Proyecto de iniciación a Djanjo. El objetivo es construir una app web simple.</p>
	        <p>
	          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Ver más &raquo;</a>
	        </p>
	    </div>
	    <div class='col-sm-6' style='background-color:black;height:300px;'></div>
	</div>
</div>
{% endblock %}

{{ titulo }} <br/>
{{ request.user }} <br/>
<hr/>

{% block content %}
<div class='row'>
	<div class='col-sm3 pull-right'>
		<p class='lead'>{{ titulo }}</p>
		<form method="POST" action="">{% csrf_token %}
			{{ el_form|crispy }}
			<input class ='btn btn-primary' type = "submit" value = "Registrarme"/>
		</form>
	</div>
	<div class='col-sm-3'>
		<p class='lead text-align-center'>Espacio 1</p>
	</div>
	<div class='col-sm-3'>
		<p class='lead text-align-center'>Espacio 2</p>
	</div>
	<div class='col-sm-3'>
		<p class='lead text-align-center'>Espacio 3</p>
	</div>
</div>
{% endblock %}
